enabled: true
image:
  repository: ""
  tag: "latest"
  pullPolicy: Always
replicas: 1
service:
  type: NodePort
  port: 8081
  nodePort: 30081
env:
  springProfile: "k3s-dev"
  dbHost: "modeunsa-infra-mysql"
  dbPort: "3306"
  dbName: ""
  redisHost: "modeunsa-infra-redis"
  redisPort: "6379"
  kafkaBootstrapServers: "modeunsa-infra-kafka:9092"
  jvmThreadCount: "180"
  internalBackUrl: "http://modeunsa-app-api-gateway-api:8080"
  eventPublisherType: ""
  eventConsumerType: ""
secrets:
  dbUsername: "root"
  dbPassword: ""
  redisPassword: ""
  jwtSecret: ""
  kakaoClientId: ""
  kakaoClientSecret: ""
  naverClientId: ""
  naverClientSecret: ""
  awsAccessKey: ""
  awsSecretKey: ""
  encryptionMasterKey: ""
  tossPaymentsSecretKey: ""
  internalApiKey: ""
  openaiApiKey: ""
javaOpts: "-Xmx320m -XX:MaxMetaspaceSize=224m -XX:ReservedCodeCacheSize=48m -Xss512k"
resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1024Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
