{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mysql-exporter.fullname" . }}
  labels:
    {{- include "mysql-exporter.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9104
      targetPort: 9104
  selector:
    app: {{ include "mysql-exporter.fullname" . }}
{{- end }}
