version: '3.8'

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - modeunsa-net
    depends_on:
      - redis

  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    networks:
      - modeunsa-net
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    image: sohee52/modeunsa:latest
    container_name: app
    ports:
      - "8080:8080"
    environment:
      - REDIS_HOST=redis
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=${MYSQL_DATABASE}
      - DB_USERNAME=root
      - DB_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - ES_HOST=elasticsearch
      - ES_PORT=9200
      - SPRING_PROFILES_ACTIVE=prod
      - ENCRYPTION_MASTER_KEY=${ENCRYPTION_MASTER_KEY}
      - TOSS_PAYMENTS_SECRET_KEY=${TOSS_PAYMENTS_SECRET_KEY}
    networks:
      - modeunsa-net

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - modeunsa-net
    command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    volumes:
      - redis_data:/data

  elasticsearch:
    build:
      context: ./docker/elasticsearch
    image: elasticsearch:nori
    container_name: elasticsearch
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    networks:
      - modeunsa-net
    volumes:
      - es_data:/usr/share/elasticsearch/data

networks:
  modeunsa-net:
    driver: bridge

volumes:
  redis_data:
  mysql_data:
  es_data: