# 공통 기본 설정 (환경 공통)
mysql:
  enabled: true
  image:
    tag: "8.0"
  auth:
    rootPassword: ""    # .env에서 주입
    database: ""        # .env에서 주입

redis:
  enabled: true
  image:
    tag: "7-alpine"
  auth:
    password: ""        # .env에서 주입

elasticsearch:
  enabled: true
  image:
    tag: "9.2.2"
  javaOpts: "-Xms512m -Xmx512m"
  plugins: "analysis-nori"

prometheus:
  enabled: true
  image:
    tag: "latest"
  scrapeInterval: "15s"
  scrapeConfigs:
    - jobName: "modeunsa-app"
      metricsPath: "/actuator/prometheus"
      scrapeInterval: "15s"
      scrapeTimeout: "10s"
      targets:
        - "modeunsa-app:8080"

grafana:
  enabled: true
  image:
    tag: "latest"
  auth:
    adminUser: ""       # .env에서 주입
    adminPassword: ""   # .env에서 주입
  server:
    serveFromSubPath: true

kafka:
  enabled: true
  image:
    tag: "3.7.0"

kafkaui:
  enabled: true
  image:
    tag: "latest"
  kafka:
    bootstrapServers: "modeunsa-infra-kafka:9092"

ingress:
  enabled: false        # dev에서는 NodePort 사용, prod에서 true로 덮어씀

cert-manager:
  enabled: false
  email: ""
  server: "https://acme-v02.api.letsencrypt.org/directory"
  ingressClass: traefik