enabled: true
image:
  tag: "latest"
service:
  type: NodePort
  nodePort: 30300
auth:
  adminUser: ""
  adminPassword: ""
server:
  rootUrl: "http://localhost:30300/grafana"
  serveFromSubPath: true
storage:
  size: 2Gi
resources:
  limits:
    cpu: 500m
    memory: 512Mi
