enabled: true
image:
  tag: "8.0"
auth:
  rootPassword: ""
  database: ""
service:
  nodePort: 30306
storage:
  size: 5Gi
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi
