enabled: true
image:
  tag: "8.0"
auth:
  rootPassword: ""
  database: ""
service:
  type: NodePort
  nodePort: 30306
storage:
  size: 5Gi
resources:
  requests:
    cpu: 100m
    memory: 384Mi
  limits:
    cpu: 250m
    memory: 768Mi
