spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    show-sql: false

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: never

  sql:
    init:
      mode: never

settlement:
  scheduler:
    enabled: false
    cron-am3: "* * * * * *"
