server:
  port: 8080

spring:
  application:
    name: modeunsa

  # 현재 프로필을 'local'로 활성화
  profiles:
    active: local

  # 데이터베이스 설정 (H2)
  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  # H2 콘솔 설정
  h2:
    console:
      enabled: true
      path: /h2-console

  # JPA 및 Hibernate 설정
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100

  # OAuth2 보안 설정
  security:
    oauth2:
      allowed-redirect-domains:
        - http://localhost:3000
        - http://localhost:8080
        - http://127.0.0.1:8080
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: "http://127.0.0.1:8080/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: KAKAO
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: "http://127.0.0.1:8080/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            client-name: NAVER
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response