spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    show-sql: false
  batch:
    jdbc:
      initialize-schema: embedded
# 테스트용 스케줄러 - 매 1초마다 실행
settlement:
  scheduler:
    cron-am3: "* * * * * *"