server:
  port: 8080
spring:
  profiles:
    active: local
  application:
    name: modeunsa
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy