server:
  port: 8080

spring:
  application:
    name: modeunsa
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      jakarta.persistence.lock.timeout: 5000 # jpa lock timeout 5 seconds
      hibernate:
        default_batch_fetch_size: 100

  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

settlement:
  scheduler:
    cron-am3: "0 0 3 * * *"
  policy:
    fee-rate: 0.1

jwt:
  secret: ${JWT_SECRET:local-test-jwt-secret-key-which-is-long-enough-32bytes}
  access-token-expiration: 1800000   # 30분
  refresh-token-expiration: 604800000 # 7일
