server:
  port: 8080
spring:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
  datasource:
    url: jdbc:h2:mem:test1db;MODE=mysql
    username: sa
    password:
    driver-class-name: org.h2.Driver