enabled: true
image:
  tag: "latest"
service:
  type: NodePort
  nodePort: 30085
kafka:
  bootstrapServers: "modeunsa-infra-kafka:9092"
server:
  contextPath: "/kafka-ui"
javaOpts: "-Xms256m -Xmx512m"
resources:
  requests:
    cpu: 80m
    memory: 256Mi
  limits:
    cpu: 250m
    memory: 768Mi

