# prod 환경 - EC2 + k3s (ClusterIP + Ingress)
api:
  enabled: true
  image:
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
  env:
    springProfile: "prod"

frontend:
  enabled: true
  image:
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP

ingress:
  enabled: true
