# prod 환경 - EC2 + k3s (ClusterIP + Ingress)
api:
  enabled: true
  service:
    type: ClusterIP
  env:
    springProfile: "prod"
  resources:
    limits:
      cpu: 1
      memory: 1536Mi

frontend:
  enabled: true
  service:
    type: ClusterIP

ingress:
  enabled: true
