spring:
  config:
    import: optional:file:.env.k3s-dev[.properties]
  datasource:
    url: jdbc:mysql://${DB_HOST:modeunsa-infra-mysql}:${DB_PORT:3306}/${DB_NAME:modeunsa}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  data:
    redis:
      host: ${REDIS_HOST:modeunsa-infra-redis}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
  elasticsearch:
    uris:
      - http://${ES_HOST:modeunsa-infra-elasticsearch}:${ES_PORT:9200}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:modeunsa-infra-kafka:9092}

management:
  health:
    elasticsearch:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: never
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

custom:
  swagger:
    serverUrl: ${SWAGGER_SERVER_URL:http://127.0.0.1:8080}
    description: "Local Server"
  security:
    permit-all: false
    permit-urls:
      # ========== 개발 도구 ==========
      - /h2-console/**
      - /swagger-ui/**
      - /v3/api-docs/**
      - /
      - /favicon.ico
      - /error

      # ========== 헬스체크 ==========
      - /actuator/health
      - /actuator/prometheus

      # ========== 상품 검색 ==========
      - /api/v1/products/search/**

springdoc:
  swagger-ui:
    persistAuthorization: true
