spring:
  config:
    activate:
      on-profile: test

  autoconfigure:
    exclude:
      - org.springframework.boot.elasticsearch.autoconfigure.ElasticsearchClientAutoConfiguration
      - org.springframework.boot.data.elasticsearch.autoconfigure.DataElasticsearchAutoConfiguration

  data:
    elasticsearch:
      repositories:
        enabled: false

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      maximum-pool-size: 50
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    show-sql: false
  batch:
    jdbc:
      initialize-schema: embedded

internal:
  api-key: test-internal-key