enabled: true
image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent
replicas: 1
service:
  type: NodePort
  port: 8080
  nodePort: 30080
env:
  springProfile: "prod"
  dbHost: "modeunsa-infra-mysql"
  dbPort: "3306"
  dbName: ""
  redisHost: "modeunsa-infra-redis"
  redisPort: "6379"
  esHost: "modeunsa-infra-elasticsearch"
  esPort: "9200"
secrets:
  dbUsername: "root"
  dbPassword: ""
  redisPassword: ""
  jwtSecret: ""
  kakaoClientId: ""
  kakaoClientSecret: ""
  naverClientId: ""
  naverClientSecret: ""
  awsAccessKey: ""
  awsSecretKey: ""
  encryptionMasterKey: ""
  tossPaymentsSecretKey: ""
  internalApiKey: ""
resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 2Gi
