spring:
  config:
    import: optional:file:.env.dev[.properties]
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:modeunsa}
    username: ${DB_USERNAME:root}
    password: ${MYSQL_ROOT_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true

management:
  health:
    elasticsearch:
      enabled: false

#  kafka:
#    listener:
#      auto-startup: false

custom:
  swagger:
    serverUrl: ${SWAGGER_SERVER_URL:http://localhost:8080}
    description: "Local Server"

springdoc:
  swagger-ui:
    persistAuthorization: true