spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  devtools:
    restart:
      enabled: false
  application:
    name: modeunsa
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      jakarta.persistence.lock.timeout: 5000 # jpa lock timeout 5 seconds
      hibernate:
        default_batch_fetch_size: 100
  jackson:
    serialization:
      fail-on-empty-beans: false
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    consumer:
      group-id: payment-service

custom:
  global:
    internalBackUrl: http://localhost:${server.port:8080}

encryption:
  enabled: true
  master-key: ${ENCRYPTION_MASTER_KEY}

app:
  simulation:
    enabled: true
  event-publisher:
    type: ${EVENT_PUBLISHER_TYPE:spring}
  data-init:
    enabled: ${DATA_INIT:true}

internal:
  api-key: ${INTERNAL_API_KEY}