{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mysql.fullname" . }}
  labels:
      {{- include "mysql.labels" . | nindent 4 }}
spec:
  type: NodePort
  ports:
    - port: 3306
      targetPort: 3306
      nodePort: {{ .Values.service.nodePort }}
  selector:
    app: {{ include "mysql.fullname" . }}
{{- end }}
