enabled: true
image:
  tag: "latest"
service:
  type: NodePort
  nodePort: 30090
scrapeInterval: "15s"
scrapeConfigs:
  - jobName: "api-gateway-api"
    metricsPath: "/actuator/prometheus"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-app-api-gateway-api:8080"
  - jobName: "payment-api"
    metricsPath: "/actuator/prometheus"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-app-payment-api:8083"
  - jobName: "order-api"
    metricsPath: "/actuator/prometheus"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-app-order-api:8082"
  - jobName: "settlement-api"
    metricsPath: "/actuator/prometheus"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-app-settlement-api:8084"
  - jobName: "member-api"
    metricsPath: "/actuator/prometheus"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-app-member-api:8086"
  - jobName: "product-api"
    metricsPath: "/actuator/prometheus"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-app-product-api:8081"
  - jobName: "mysql"
    metricsPath: "/metrics"
    scrapeInterval: "15s"
    scrapeTimeout: "10s"
    targets:
      - "modeunsa-infra-mysql-exporter:9104"
resources:
  requests:
    cpu: 25m
    memory: 96Mi
  limits:
    cpu: 100m
    memory: 256Mi
